footer {
  height: 10vh;
  background-color: #121212;
  box-shadow: 0 -3px 8px rgba(209, 202, 202, 0.877);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
}

footer a {
  font-size: 1rem;
  line-height: 15px;
  margin-left: 1rem;
  color: #bb86fc;
  text-decoration: none;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

footer a:hover,
footer a:active {
  transform: scaleX(1.2);
  color: #03dac5;
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}
