* {
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

::selection {
  background-color: #bb86fc;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  color: #bb86fc;
  box-shadow: 2px 2px 4px #999, inset -2px -2px 4px #fff;
}
body {
  overflow-x: hidden;
  position: relative;
  background-color: #121212;
}
