.syllabus {
  // width: 30px;
  height: 50px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: inherit;
  left: 0;
}

.syllabus_p {
}

.syllabus_link {
  color: #bb86fc;
  text-decoration: none;
  font-weight: bold;
}

.close-button {
  width: 25px;
  height: 25px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  // background: #000;
  right: 15px;
  top: 5px;
  position: absolute;
  display: block;
  z-index: 200;
  text-indent: -9999px;
}
.close-button:before,
.close-button:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 70%;
  right: 10%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:hover:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.close-button:hover:after {
  transform: rotate(180+45deg);
  -webkit-transform: rotate(180+45deg);
  -moz-transform: rotate(180+45deg);
  -ms-transform: rotate(180+45deg);
  -o-transform: rotate(180+45deg);
}

.close-button:active {
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #bb86fc;
}
