@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 50px;
  }
  100% {
    background-position: 100px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 50px;
  }
  100% {
    background-position: 100px;
  }
}

@-webkit-keyframes borderLength {
  0% {
    width: 0%;
  }
  60% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes borderLength {
  0% {
    width: 0%;
  }
  60% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes blinkTextCursor {
  0%,
  100% {
    border-right: transparent;
  }
  99% {
    border-right: rgba(255, 255, 255, 0.75);
  }
}

@keyframes blinkTextCursor {
  0%,
  100% {
    border-right: transparent;
  }
  99% {
    border-right: rgba(255, 255, 255, 0.75);
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.5em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.5em;
  }
}

* {
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

::-moz-selection {
  background-color: #bb86fc;
  color: #fff;
}

::selection {
  background-color: #bb86fc;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  color: #bb86fc;
  -webkit-box-shadow: 2px 2px 4px #999, inset -2px -2px 4px #fff;
          box-shadow: 2px 2px 4px #999, inset -2px -2px 4px #fff;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #121212;
}

nav {
  position: relative;
  height: 4rem;
  width: 100vw;
  font-weight: 500;
}

.home {
  color: #bb86fc;
  cursor: pointer;
  text-decoration: none;
}

.home:hover {
  color: #03dac5;
}

nav {
  position: relative;
}

.navbar {
  height: 4rem;
  width: 100vw;
  background-color: #1f1b24;
  -webkit-box-shadow: 0 3px 8px rgba(209, 202, 202, 0.877);
          box-shadow: 0 3px 8px rgba(209, 202, 202, 0.877);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: #fff;
  overflow: hidden;
}

/*Styling logo*/
.logo {
  width: 11.5rem;
  padding: 1vh 1vw;
  text-align: center;
  color: #bb86fc;
  border-right: 2px solid rgba(255, 255, 255, 0.61);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation: typewriter 4s steps(20) 0s 1 normal both, blinkTextCursor 500ms steps(20) 1 normal;
  -webkit-animation: typewriter 4s steps(20) 0s 1 normal both, blinkTextCursor 500ms steps(20) 1 normal;
}

/*Styling Links*/
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 88vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #03dac5;
}

.nav-links li a:active {
  color: #bb86fc;
}

.nav-links li {
  position: relative;
  padding-right: 2rem;
  text-align: center;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #03dac5;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  .navbar {
    z-index: 3;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #121212;
    top: 9vh;
    left: 0;
    height: 91vh;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    -webkit-transition: all 0.5s ease 0.9s;
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    -webkit-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 330px;
  height: 450px;
  margin: 20px;
  padding-top: 2rem;
  text-align: center;
  background-color: #1f1b24;
  -webkit-box-shadow: 2px 2px 5px white;
          box-shadow: 2px 2px 5px white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  position: relative;
  background-color: #f2f8f9;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b2828;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 60px;
  width: 60px;
  border-radius: 60%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: all 1.5s ease-out;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.card:hover:before {
  transform: scale(25);
  -webkit-transform: scale(25);
  -moz-transform: scale(25);
  -ms-transform: scale(25);
  -o-transform: scale(25);
}

.card:hover h2 {
  color: #bb86fc;
}

.card:hover p {
  color: #f2f8f9;
}

.card:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}

.card h2 {
  color: #00838d;
  text-align: center;
  margin-bottom: 1rem;
}

.card p {
  color: black;
  padding: 1rem 0;
}

button {
  padding: 12px 48px;
  color: #bb86fc;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #00838d), color-stop(20%, white), color-stop(40%, #4d4d4d));
  background: linear-gradient(to right, #00838d 0, white 20%, #4d4d4d 40%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.5s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  border: #00838d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-animation: shine 1.5s infinite linear;
}

button a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

button a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #bb86fc;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  animation: borderLength 1s infinite linear;
  -webkit-animation: borderLength 1.5s infinite linear;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim 0.5s infinite alternate;
          animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 45;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  -webkit-animation: cursorAnim2 0.5s infinite alternate;
          animation: cursorAnim2 0.5s infinite alternate;
  z-index: 45;
}

.expand {
  -webkit-animation: cursorAnim3 0.5s forwards;
          animation: cursorAnim3 0.5s forwards;
  border: 1px solid #bb86fc;
  z-index: 45;
}

.counter {
  margin: 0px auto;
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 133px;
  background: #746dba;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text {
  padding: 10px 0 0 0;
  display: inline-block;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.syllabus {
  height: 50px;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 10px;
  z-index: 2000;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.syllabus_link {
  color: #bb86fc;
  text-decoration: none;
  font-weight: bold;
}

.close-button {
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  right: 15px;
  top: 5px;
  position: absolute;
  display: block;
  z-index: 200;
  text-indent: -9999px;
}

.close-button:before,
.close-button:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 70%;
  right: 10%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.close-button:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.close-button:hover:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.close-button:hover:after {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.close-button:active {
  -webkit-box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #bb86fc;
}
/*# sourceMappingURL=style.css.map */